body {  
background: linear-gradient(220.55deg, #5D85A6 0%, #0E2C5E 100%);
}

#root{
  max-width: 1200px;
  margin: auto;
  min-height: 950px;
}
body h1 {
  font-size: 2rem;
}
body h2 {
  font-size: 1.5rem;
}

.logoH1{
    display: flex;
    gap: 20px;
    align-items:center;
  }
  .img {
    background-image: url("../src/img/nysl_logo.png");
    background-size: 100%;
  }

  .events-list {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 11rem));
  }
  .card {
    box-shadow: 10px 10px 30px black;
  }
  
  .legend {
    box-shadow: 10px 10px 30px black;
  }
  
  .cardGames {
    max-width: 150px;
  }
  .cardHome{
    max-width: 150px;
    margin: 10px;
  }
  .iframe {
    width:100%;
    height:350px;
    border:0px;
  }

.comments {
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  max-width: 600px;
}