body {  
background: linear-gradient(220.55deg, #5D85A6 0%, #0E2C5E 100%);
}

.logoH1{
    margin-top: 55px;
    display: flex;
    gap: 20px;
    align-items:center;
  }

  .events-list {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1rem, 11rem));
  }
  .card {
    box-shadow: 10px 10px 30px black;
  }
  
  .card {
    max-width: 150px;

  }